<div class="circle">
    <div class="shadow"></div>
  <div class="glow"></div>
  <div class="flame"></div>
  <div class="log log-1"></div>
  <div class="log log-2"></div>
  <div class="log log-3"></div>
</div>
