<div class="notice-board">
  <div class="boarder">
    <div id="main-board">
      {{#each model as |skill|}}
        <p class="skill">
          {{skill}}
        </p>
      {{/each}}
    </div>
  </div>
</div>
