<div class="notice-board">
  <div class="boarder">
    <div id="main-board">
      {{#each model as |skill|}}
        <p class="skill">
          {{skill}}
        </p>
      {{/each}}
    </div>
      <div class="right leg"></div>
      <div class="left leg"></div>
      <div class="ground">
        <div class="grass"></div>
        <div class="grass"></div>
        <div class="grass"></div>
        <div class="grass"></div>
        <div class="grass"></div>
      </div>
      <div id="groundRight">
        <div class="grass"></div>
        <div class="grass"></div>
        <div class="grass"></div>
        <div class="grass"></div>
        <div class="grass"></div>
      </div>
  </div>
</div>
