.mountain, .mountain-two, .mountain-three, .mountain-four, .mountain-five {
  position: absolute;
  margin-left: 5%;
  bottom: 0;
  top: 35vh;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 50vw solid rgb(43, 201, 157);
  border-bottom: 50vw solid #7ac1e4;
  z-index: 1;
}

.mountain-two {
  left: 20%;
  top: 30vh;
  opacity: .3;
  z-index: 0;
}

.mountain-three {
  right: 15%;
  bottom: -10px;
  opacity: .5;
  z-index: 0;
}

.mountain-four {
  left: -10vw;
  top: 55vh;
  border-left: 20vw solid transparent;
  border-right: 20vw solid transparent;
  border-bottom: 27vw solid #7ac1e4;
  z-index: 0;
}

.mountain-five {
  right: -10%;
  top: 50vh;
  border-left: 20vw solid transparent;
  border-right: 20vw solid transparent;
  border-bottom: 27vw solid #7ac1e4;
  z-index: 0;
}

.mountain-top {
  position: absolute;
  right: -15vw;
  border-left: 15vw solid transparent;
  border-right: 15vw solid transparent;
  border-bottom: 15vw solid #ceeaf6;
  z-index: 2;
}

.mountain-cap-1, .mountain-cap-2, .mountain-cap-3 {
  position: absolute;
  top: 28vh;
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  border-top: 4vw solid #ceeaf6;
}

.mountain-cap-1 {
  left: -11vw;
}

.mountain-cap-2 {
  left: 4vw;
}

.mountain-cap-3 {
  left: -3.5vw;
}

.cloud, .cloud:before, .cloud:after {
  position: absolute;
  width: 10vw;
  height: 5vw;
  background: #fff;
  -webkit-border-radius: 200px / 100px;
  border-radius: 200px / 100px;
}

.cloud {
  top: 50vh;
  -webkit-animation: cloud 50s infinite linear;
  animation: cloud 50s infinite linear;
}

@-webkit-keyframes cloud {
  0% {
    left: -5vw;
  }
  100% {
    left: 100vw;
  }
}

@keyframes cloud {
  0% {
    left: -5vw;
  }
  100% {
    left: 100vw;
  }
}

.cloud:before {
  content: '';
  left: 50px;
}

.cloud:after {
  content: '';
  left: 25px;
  top: -10px;
}

.mountain-top-small {
  position: absolute;
  right: -6vw;
  border-left: 6vw solid transparent;
  border-right: 6vw solid transparent;
  border-bottom: 8vw solid #ceeaf6;
  z-index: 2;
}

.mountain-cap-1s, .mountain-cap-2s, .mountain-cap-3s {
  position: absolute;
  left: -5vw;
  top: 15.5vh;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-top: 2vw solid #ceeaf6;
}


/*.mountain-cap-1s {
  left: -55px;
}*/

.mountain-cap-2s {
  left: -2vw;
}

.mountain-cap-3s {
  left: 1vw;
}

#mountain {
  height: 100vh;
  background: linear-gradient(rgb(242, 39, 92), rgb(31, 0, 64));
}


/*@-webkit-keyframes growup {
  0% {
    bottom: -100px;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  95% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes growup {
  0% {
    bottom: -100px;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  95% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}*/

.tree__item {
  /*border: solid 1px #333;*/
  /*-webkit-transform-origin: 0 bottom 0;
  transform-origin: 0 bottom 0;*/
  font-size: 0;
  display: block;
  position: absolute;
  width: 10vw;
  padding-bottom: 30px;
}

.tree__branch {
  /* border: solid 1px #3ff; */
  height: 20vw;
  width: 10vw;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.tree__branch:before, .tree__branch:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
}

.tree__branch:before {
  right: 50%;
}

.tree__branch:after {
  left: 50%;
}

.tree__stamb {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.tree__stamb:before, .tree__stamb:after {
  width: .2vw;
  content: '';
  display: block;
  position: absolute;
  bottom: 0 !important;
}

.tree__stamb:before {
  right: 50%;
}

.tree__stamb:after {
  left: 50%;
}

.tree__item_1 {
  left: 180px;
  bottom: -9px;
  z-index: 10;
}

.tree__item_1 .tree__stamb {
  position: absolute;
}

.tree__item_1 .tree__stamb:before {
  border-left: 1vw solid transparent;
  border-bottom: 15vw solid #759999;
}

.tree__item_1 .tree__stamb:after {
  border-right: 1vw solid transparent;
  border-bottom: 15vw solid #5d7e7e;
}

.tree__item_1 .tree__branch_1 {
  height: 58vw;
}

.tree__item_1 .tree__branch_1:before {
  border-left: 4vw solid transparent;
  border-bottom: 8vw solid #92AFAF;
}

.tree__item_1 .tree__branch_1:after {
  border-right: 4vw solid transparent;
  border-bottom: 8vw solid #678d8d;
}

.tree__item_1 .tree__branch_2 {
  height: 7vh;
}

.tree__item_1 .tree__branch_2:before {
  border-left: 4.5vw solid transparent;
  border-bottom: 8.5vw solid #92AFAF;
}

.tree__item_1 .tree__branch_2:after {
  border-right: 4.5vw solid transparent;
  border-bottom: 8.5vw solid #678d8d;
}

.tree__item_1 .tree__branch_3 {
  height: 6vh;
}

.tree__item_1 .tree__branch_3:before {
  border-left: 5vw solid transparent;
  border-bottom: 9vw solid #92AFAF;
}

.tree__item_1 .tree__branch_3:after {
  border-right: 5vw solid transparent;
  border-bottom: 9vw solid #678d8d;
}

.tree__item_1 .tree__branch_4 {
  height: 6vh;
}

.tree__item_1 .tree__branch_4:before {
  border-left: 5.5vw solid transparent;
  border-bottom: 9.5vw solid #92AFAF;
}

.tree__item_1 .tree__branch_4:after {
  border-right: 5.5vw solid transparent;
  border-bottom: 9.5vw solid #678d8d;
}

.tree__item_2 {
  left: 227px;
  bottom: -10px;
  z-index: 10;
}

.tree__item_2 .tree__stamb {
  position: absolute;
}

.tree__item_2 .tree__stamb:before {
  border-left: .5vw solid transparent;
  border-bottom: 13vw solid #607575;
}

.tree__item_2 .tree__stamb:after {
  border-right: .5vw solid transparent;
  border-bottom: 13vw solid #495959;
}

.tree__item_2 .tree__branch_1 {
  height: 5vh;
}

.tree__item_2 .tree__branch_1:before {
  border-left: 3vw solid transparent;
  border-bottom: 5vw solid #789090;
}

.tree__item_2 .tree__branch_1:after {
  border-right: 3vw solid transparent;
  border-bottom: 5vw solid #556767;
}

.tree__item_2 .tree__branch_2 {
  height: 5vh;
}

.tree__item_2 .tree__branch_2:before {
  border-left: 3.5vw solid transparent;
  border-bottom: 5.5vw solid #789090;
}

.tree__item_2 .tree__branch_2:after {
  border-right: 3.5vw solid transparent;
  border-bottom: 5.5vw solid #556767;
}

.tree__item_2 .tree__branch_3 {
  height: 5vh;
}

.tree__item_2 .tree__branch_3:before {
  border-left: 4vw solid transparent;
  border-bottom: 6vw solid #789090;
}

.tree__item_2 .tree__branch_3:after {
  border-right: 4vw solid transparent;
  border-bottom: 5.5vw solid #556767;
}

.tree__item_2 .tree__branch_4 {
  height: 5vh;
}

.tree__item_2 .tree__branch_4:before {
  border-left: 4.5vw solid transparent;
  border-bottom: 6vw solid #789090;
}

.tree__item_2 .tree__branch_4:after {
  border-right: 4.5vw solid transparent;
  border-bottom: 6vw solid #556767;
}

.tree__item_5 {
  left: 20vw;
  bottom: -12px;
  z-index: 5;
}

.tree__item_5 .tree__stamb {
  position: absolute;
}

.tree__item_5 .tree__stamb:before {
  border-left: 1vw solid transparent;
  border-bottom: 16vw solid #302525;
  /*#5f5f5f*/
}

.tree__item_5 .tree__stamb:after {
  border-right: 1vw solid transparent;
  border-bottom: 16vw solid #231f21;
  /*grey  #454545*/
}

.tree__item_5 .tree__branch_1 {
  height: 40px;
}

.tree__item_5 .tree__branch_1:before {
  border-left: 4.5vw solid transparent;
  border-bottom: 8.5vw solid #567a42;
}

.tree__item_5 .tree__branch_1:after {
  border-right: 4.5vw solid transparent;
  border-bottom: 8.5vw solid #2e4c27;
}

.tree__item_5 .tree__branch_2 {
  height: 6vh;
}

.tree__item_5 .tree__branch_2:before {
  border-left: 5vw solid transparent;
  border-bottom: 9vw solid #567a42;
}

.tree__item_5 .tree__branch_2:after {
  border-right: 5vw solid transparent;
  border-bottom: 9vw solid #2e4c27;
}

.tree__item_5 .tree__branch_3 {
  height: 7vh;
}

.tree__item_5 .tree__branch_3:before {
  border-left: 5.5vw solid transparent;
  border-bottom: 9.5vw solid #567a42;
}

.tree__item_5 .tree__branch_3:after {
  border-right: 5.5vw solid transparent;
  border-bottom: 9.5vw solid #2e4c27;
}

.tree__item_5 .tree__branch_4 {
  height: 6vh;
}

.tree__item_5 .tree__branch_4:before {
  border-left: 6vw solid transparent;
  border-bottom: 10vw solid #567a42;
}

.tree__item_5 .tree__branch_4:after {
  border-right: 6vw solid transparent;
  border-bottom: 10vw solid #2e4c27;
}

.tree__item_6 {
  left: 274px;
  bottom: -15px;
  -webkit-animation: growup 3.2s 0s linear;
  animation: growup 3.2s 0s linear;
  z-index: 4;
}

.tree__item_6 .tree__stamb {
  position: absolute;
}

.tree__item_6 .tree__stamb:before {
  border-left: 1vw solid transparent;
  border-bottom: 18vw solid rgb(53, 34, 33);
}

.tree__item_6 .tree__stamb:after {
  border-right: 1vw solid transparent;
  border-bottom: 18vw solid rgb(41, 31, 35);
}

.tree__item_6 .tree__branch_1 {
  height: 10vh;
}

.tree__item_6 .tree__branch_1:before {
  border-left: 4vw solid transparent;
  border-bottom: 9vw solid rgb(56, 112, 24);
}

.tree__item_6 .tree__branch_1:after {
  border-right: 4vw solid transparent;
  border-bottom: 9vw solid rgb(28, 76, 16);
}

.tree__item_6 .tree__branch_2 {
  height: 7vh;
}

.tree__item_6 .tree__branch_2:before {
  border-left: 4.5vw solid transparent;
  border-bottom: 9.5vw solid rgb(56, 112, 24);
}

.tree__item_6 .tree__branch_2:after {
  border-right: 4.5vw solid transparent;
  border-bottom: 9.5vw solid rgb(28, 76, 16);
}

.tree__item_6 .tree__branch_3 {
  height: 7vh;
}

.tree__item_6 .tree__branch_3:before {
  border-left: 5vw solid transparent;
  border-bottom: 10vw solid rgb(56, 112, 24);
}

.tree__item_6 .tree__branch_3:after {
  border-right: 5vw solid transparent;
  border-bottom: 10vw solid rgb(28, 76, 16);
}

.tree__item_6 .tree__branch_4 {
  height: 7vh;
}

.tree__item_6 .tree__branch_4:before {
  border-left: 5vw solid transparent;
  border-bottom: 10vw solid rgb(56, 112, 24);
}

.tree__item_6 .tree__branch_4:after {
  border-right: 5vw solid transparent;
  border-bottom: 10vw solid rgb(28, 76, 16);
}

.tree__item_10 {
  left: 250px;
  bottom: -10px;
  z-index: 1;
}

.tree__item_10 .tree__stamb {
  position: absolute;
}

.tree__item_10 .tree__stamb:before {
  border-left: 1vw solid transparent;
  border-bottom: 22vw solid #808080;
}

.tree__item_10 .tree__stamb:after {
  border-right: 1vw solid transparent;
  border-bottom: 22vw solid #636363;
}

.tree__item_10 .tree__branch_1 {
  height: 7vh;
}

.tree__item_10 .tree__branch_1:before {
  border-left: 3.5vw solid transparent;
  border-bottom: 9.5vw solid rgb(73, 57, 85);
}

.tree__item_10 .tree__branch_1:after {
  border-right: 3.5vw solid transparent;
  border-bottom: 9.5vw solid rgb(42, 34, 55);
}

.tree__item_10 .tree__branch_2 {
  height: 7vw;
}

.tree__item_10 .tree__branch_2:before {
  border-left: 4vw solid transparent;
  border-bottom: 10vw solid rgb(73, 57, 85);
}

.tree__item_10 .tree__branch_2:after {
  border-right: 4vw solid transparent;
  border-bottom: 10vw solid rgb(42, 34, 55);
}

.tree__item_10 .tree__branch_3 {
  height: 7vh;
}

.tree__item_10 .tree__branch_3:before {
  border-left: 4.5vw solid transparent;
  border-bottom: 10.5vw solid rgb(73, 57, 85);
}

.tree__item_10 .tree__branch_3:after {
  border-right: 4.5vw solid transparent;
  border-bottom: 10.5vw solid rgb(42, 34, 55);
}

.tree__item_10 .tree__branch_4 {
  height: 7vh;
}

.tree__item_10 .tree__branch_4:before {
  border-left: 5vw solid transparent;
  border-bottom: 11vw solid rgb(73, 57, 85);
  /*lighter color rgb(46, 145, 133)*/
}

.tree__item_10 .tree__branch_4:after {
  border-right: 5vw solid transparent;
  border-bottom: 11vw solid rgb(42, 34, 55);
}

.tree__item_11 {
  left: 311px;
  bottom: -10px;
  z-index: 1;
}

.tree__item_11 .tree__stamb {
  position: absolute;
}

.tree__item_11 .tree__stamb:before {
  border-left: 1vw solid transparent;
  border-bottom: 25vw solid rgb(85, 72, 68);
}

.tree__item_11 .tree__stamb:after {
  border-right: 1vw solid transparent;
  border-bottom: 25vw solid rgb(73, 50, 52);
}

.tree__item_11 .tree__branch_1 {
  height: 6vh;
}

.tree__item_11 .tree__branch_1:before {
  border-left: 4vw solid transparent;
  border-bottom: 10.5vw solid rgb(230, 147, 58);
}

.tree__item_11 .tree__branch_1:after {
  border-right: 4vw solid transparent;
  border-bottom: 10.5vw solid rgb(212, 100, 35);
}

.tree__item_11 .tree__branch_2 {
  height: 7vw;
}

.tree__item_11 .tree__branch_2:before {
  border-left: 4.5vw solid transparent;
  border-bottom: 11vw solid rgb(230, 147, 58);
}

.tree__item_11 .tree__branch_2:after {
  border-right: 4.5vw solid transparent;
  border-bottom: 11vw solid rgb(212, 100, 35);
}

.tree__item_11 .tree__branch_3 {
  height: 7vh;
}

.tree__item_11 .tree__branch_3:before {
  border-left: 5vw solid transparent;
  border-bottom: 11.5vw solid rgb(230, 147, 58);
}

.tree__item_11 .tree__branch_3:after {
  border-right: 5vw solid transparent;
  border-bottom: 11.5vw solid rgb(212, 100, 35);
}

.tree__item_11 .tree__branch_4 {
  height: 7vh;
}

.tree__item_11 .tree__branch_4:before {
  border-left: 5.5vw solid transparent;
  border-bottom: 12vw solid rgb(230, 147, 58);
}

.tree__item_11 .tree__branch_4:after {
  border-right: 5.5vw solid transparent;
  border-bottom: 12vw solid rgb(212, 100, 35);
}

.tree__item_12 {
  left: 370px;
  bottom: -10px;
  -webkit-animation: growup 3.2s 0s linear;
  animation: growup 3.2s 0s linear;
  z-index: 1;
}

.tree__item_12 .tree__stamb {
  position: absolute;
}

.tree__item_12 .tree__stamb:before {
  border-left: 10px solid transparent;
  border-bottom: 250px solid rgb(80, 69, 99);
}

.tree__item_12 .tree__stamb:after {
  border-right: 10px solid transparent;
  border-bottom: 250px solid rgb(61, 46, 79);
}

.tree__item_12 .tree__branch_1 {
  height: 55px;
}

.tree__item_12 .tree__branch_1:before {
  border-left: 24px solid transparent;
  border-bottom: 75px solid rgb(224, 65, 166);
}

.tree__item_12 .tree__branch_1:after {
  border-right: 24px solid transparent;
  border-bottom: 75px solid rgb(162, 23, 79);
}

.tree__item_12 .tree__branch_2 {
  height: 55px;
}

.tree__item_12 .tree__branch_2:before {
  border-left: 32px solid transparent;
  border-bottom: 100px solid rgb(224, 65, 166);
}

.tree__item_12 .tree__branch_2:after {
  border-right: 32px solid transparent;
  border-bottom: 100px solid rgb(162, 23, 79);
}

.tree__item_12 .tree__branch_3 {
  height: 55px;
}

.tree__item_12 .tree__branch_3:before {
  border-left: 40px solid transparent;
  border-bottom: 125px solid rgb(224, 65, 166);
}

.tree__item_12 .tree__branch_3:after {
  border-right: 40px solid transparent;
  border-bottom: 125px solid rgb(162, 23, 79);
}

.tree__item_12 .tree__branch_4 {
  height: 55px;
}

.tree__item_12 .tree__branch_4:before {
  border-left: 48px solid transparent;
  border-bottom: 150px solid rgb(224, 65, 166);
}

.tree__item_12 .tree__branch_4:after {
  border-right: 48px solid transparent;
  border-bottom: 150px solid rgb(162, 23, 79);
}

#trees {
  padding-top: 10%;
}

#tree1 {
  position: relative;
  left: 14%;
}

#tree2 {
  left: 26%;
}

#tree3 {
  left: 34%;
}

#tree4 {
  left: 60%;
}

#tree-1 {
  right: 14%;
}

#tree-2 {
  right: 24%;
}

.pos {
  position: relative;
}

.circle {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 100vh;
  margin-left: 10%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
}

.flame, .flame:after, .flame:before {
  border-radius: 0 50% 50% 50%;
}

.flame {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 4;
  transform: rotate(45deg);
  width: 100px;
  height: 100px;
  background-color: #cd333f;
  animation: flame 500ms ease-in-out infinite alternate;
}

.flame:after, .flame:before {
  position: absolute;
  content: "";
  animation: Innerflame 500ms ease-in-out infinite alternate;
}

.flame:before {
  background-color: orange;
  width: 75px;
  height: 75px;
  bottom: 5px;
  left: 50%;
  margin-left: -30px;
  animation-direction: alternate-reverse;
}

.flame:after {
  background-color: #edc951;
  width: 50px;
  height: 50px;
  bottom: 10px;
  left: 50%;
  margin-left: -10px;
  animation-duration: 450ms;
}

.glow {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 20px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  opacity: .1;
  animation: glow 500ms ease-in-out infinite alternate;
}

.log {
  z-index: 3;
  position: absolute;
  bottom: 75px;
  width: 150px;
  height: 30px;
  background-color: #352b21;
  border-radius: 0 10px 10px 0;
}

.log:before, .log:after {
  position: absolute;
  content: "";
  border-radius: 50%;
}

.log:after {
  left: -9px;
  bottom: 7px;
  width: 10px;
  height: 10px;
  border: 3px outset #b38054;
}

.log:before {
  left: -15px;
  bottom: 0;
  width: 30px;
  height: 30px;
  background-color: #d7a477;
}

.log.log-1 {
  left: 50px;
  transform: perspective(400px) rotateY(45deg);
}

.log.log-2 {
  right: 50px;
  transform: perspective(400px) rotateY(-45deg) scale(-1, 1);
}

.log.log-3 {
  width: 0;
  height: 30px;
  bottom: 65px;
  left: 150px;
}

.shadow {
  position: absolute;
  left: 50px;
  bottom: 55px;
  width: 200px;
  height: 50px;
  z-index: 2;
  border-radius: 50%;
  background-color: #000;
  opacity: .1;
}

.shadow1 {
  position: absolute;
  left: 0px;
  bottom: -155px;
  width: 100vw;
  height: 50px;
  z-index: 0;
  border-radius: 50%;
  background-color: #000;
  opacity: .1;
}

@keyframes flame {
  from {
    transform: scale(1) rotate(40deg);
  }
  to {
    transform: scale(1.1) rotate(50deg);
  }
}

@keyframes Innerflame {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

@keyframes glow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

body {
  z-index: 1;
  background-color: rgb(46, 145, 133);
  /*rgb(127, 196, 191)*/
  margin: 0;
  background-color: rgb(43, 201, 157);
  overflow-x: hidden;
}

#main-board {
  border-radius: 4px;
  text-align: center;
  margin-top: -25%;
  margin-left: 10%;
  left: 10%;
  width: 300px;
}

.notice-board {
  z-index: 11;
  position: absolute;
  left: 10%;
}

.skill {
  border: saddlebrown solid 2px;
  border-top: none;
  font-family: "Century Gothic", "HelveticaNeueLT Pro 45 Lt", sans-serif;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
  color: rgb(38, 44, 47);
  font-size: 35px;
  font-weight: bold;
  background-color: #d7a477;
  padding: 2%;
  margin: 0;
  border-radius: 4px;
}

.skill:nth-child(even) {
  background-color: #b38054;
}

.skill:first-child {
  border-top: saddlebrown solid 2px;
}

.leg {
  z-index: -1;
  height: 200px;
  width: 20px;
  background-color: brown;
}

.right {
  margin-left: 97%;
}

.left {
  margin-left: 16%;
  margin-top: -66.8%;
}

.grass {
  border: 0 solid transparent;
  border-top: 3px solid #166b53;
  border-radius: 20px 0 0 0;
  width: 16px;
  height: 16px;
  margin-left: 11%;
  transform: rotate(90deg);
  margin-top: -6%;
}

.grass:nth-child(1) {
  margin-left: 14%;
  transform: rotate(90deg);
  margin-top: -6%;
}

.grass:nth-child(2) {
  border-radius: 0 20px 0 0;
  margin-left: 22%;
  transform: rotate(-90deg);
  margin-top: -6%;
}

.grass:nth-child(3) {
  margin-left: 16%;
  transform: rotate(90deg);
  margin-top: -6%;
}

.grass:nth-child(4) {
  margin-left: 13%;
  transform: rotate(90deg);
  margin-top: -6%;
}

#groundRight {
  transform: scale(-1, 1);
  position: relative;
  left: 19%;
  margin-top: -8%;
}

#tent {
  display: flex;
  position: absolute;
  right: 5%;
  bottom: -90%;
}

.side {
  width: 450px;
  height: 300px;
  transform: skew(20deg);
  background: rgb(236, 189, 181);
  background: rgb(97, 61, 57);
}

.front {
  display: flex;
  justify-content: center;
  margin-right: -8%;
  width: 0;
  height: 0;
  border-left: 108px solid transparent;
  border-right: 108px solid transparent;
  border-bottom: 300px solid rgb(232, 221, 201);
  border-bottom: 300px solid rgb(134, 108, 107);
}

.tent {
  display: flex;
  flex-direction: row-reverse;
}

.door {
  position: relative;
  top: 93px;
  margin-right: 4%;
  border-left: 69px solid transparent;
  border-right: 69px solid transparent;
  border-bottom: 207px solid rgb(237, 147, 145);
  border-bottom: 207px solid rgb(50, 50, 50);
}

.sun {
  position: absolute;
  top: 50px;
  right: 5%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 100px solid rgb(34, 254, 252);
}

.sun:nth-child(1) {
  transform: rotate(30deg);
}

.sun:nth-child(2) {
  transform: rotate(60deg);
}

.sun:nth-child(3) {
  transform: rotate(90deg);
}

.sun:nth-child(4) {
  transform: rotate(120deg);
}

.sun:nth-child(5) {
  transform: rotate(150deg);
}

.sun:nth-child(6) {
  transform: rotate(180deg);
}

.sun:nth-child(7) {
  transform: rotate(210deg);
}

.sun:nth-child(8) {
  transform: rotate(240deg);
}

.sun:nth-child(9) {
  transform: rotate(270deg);
}

.sun:nth-child(10) {
  transform: rotate(300deg);
}

.sun:nth-child(11) {
  transform: rotate(330deg);
}

.sun:nth-child(12) {
  transform: rotate(360deg);
}
